@media screen and (min-width:1200px) {
    .experiences__block-t {
        max-width: 440px;
        width: 100%;
    }
    .experiences__block-b {
        max-width: 440px;
        width: 100%;
    }
    .education__block-t {
        max-width: 440px;
        width: 100%;
    }
    .education__block-b {
        max-width: 440px;
        width: 100%;
    }
    .phone {
        max-width: 120px;
        width: 100%;
    }
    .mail {
        max-width: 158px;
        width: 100%;
    }
    .link {
        max-width: 112px;
        width: 100%;
    }
}

@media screen and (max-width:992px) {
    .page__head {
        flex-direction: column;
    }
    .logo-block {
        width: 100%
    }
    .menu-block {
        width: 100%
    }
    .experiences__restriction {
        width: 85%;
    }
    .experiences__block-t {
        width: 100%;
    }
    .experiences__block-b {
        width: 100%;
    }
    .education__restriction {
        width: 85%;
    }
    .education__block-t {
        width: 100%;
    }
    .education__block-b {
        width: 100%;
    }
    .footer {
        flex-direction: column;
    }
    .footer__hello {
        width: 100%;
    }
    .footer__visit {
        width: 100%;
        height: 500px;
    }
}

@media screen and (max-width:768px) {
    .page__info {
        flex-direction: column;
        height: 500px;
    }
    .donec {
        width: 100%;
    }
    .skill {
        width: 100%;
    }
    .experiences__restriction {
        width: 90%;
    }
    .education__restriction {
        width: 90%;
    }
    .experiences__block-h {
        font-size: 1.3rem;
    }
    .experiences__block-m {
        font-size: 0.8rem;
    }
    .education__block-h {
        font-size: 1.3rem;
    }
    .education__block-m {
        font-size: 0.8rem;
    }
    .phone {
        width: 43%;
    }
    .mail {
        width: 55%;
    }
    .link {
        width: 40%;
    }
}

@media screen and (max-width:576px) {
    .menu-title {
        margin: 20px 0;
    }
    .categories {
        flex-direction: row;
        flex-wrap: wrap;
        height: 540px;
    }
    .interface {
        width: 50%;
        height: 270px;
    }
    .media {
        width: 50%;
        height: 270px;
    }
    .app {
        width: 50%;
        height: 270px;
    }
    .coding {
        width: 50%;
        height: 270px;
    }
    .experiences__restriction {
        height: 70%;
        width: 96%;
    }
    .education__restriction {
        height: 70%;
        width: 96%;
    }
    .experiences__block-h {
        font-size: 1.1rem;
    }
    .experiences__block-m {
        font-size: 0.6rem;
    }
    .education__block-h {
        font-size: 1.1rem;
    }
    .education__block-m {
        font-size: 0.6rem;
    }
    .pen__title {
        font-size: 1.4rem;
    }
    .pen__restriction {
        width: 80%;
    }
    .phone {
        width: 53%;
    }
    .mail {
        width: 70%;
    }
    .link {
        width: 50%;
    }
    .menu {
        width: 500px;
        margin: 18px 30px
    }
}

@media (min-width:320px) and (max-width:575px) {
    .toggle {
        clear: both;
        display: block;
        text-align: center;
        font-size: 14px;
        line-height: 40px;
        width: 100%;
        color: #000;
        background: #fac8a3;
        transition: all .0s linear;
    }
    .toggle:hover {
        background: #f5c9a8;
    }
    #checkbox-menu:checked+label .touch li {
        opacity: 1;
        visibility: visible;
        transition: all .7s linear
    }
    #checkbox-menu:checked+label .touch {
        height: 411px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0;
        transition: height .3s linear;
        width: 93%;
        margin-top: -19px;
    }
    .menu li {
        display: flex;
        align-self: center;
        width: 95%;
        opacity: 0;
        visibility: hidden;
    }
    .menu li a {
        width: 95%;
        text-align: center;
        align-self: center;
        align-content: center;
    }
    .menu-block {
        height: 450px;
        
    }
    .menu-restriction {
        padding: 0 20px;
        
    }
    .menu-title {
        font-size: 1.3em;
    }
    .logo-block {
        height: 300px;
    }
    .menu-subtitle {
        font-size: 0.8rem;
    }
    .donec__title {
        margin: 10px 0;
        font-size: 1.3rem;
    }
    .donec__subtitle {
        margin-bottom: 5px;
    }
    .donec__text {
        font-size: 0.8rem;
    }
    .donec-restriction {
        margin-left: -20px;
    }
    .donec {
        z-index: 3;
        background: rgb(255, 247, 232);
    }
    .skill {
        flex-direction: column;
        height: 220px;
        z-index: 3;
    }
    .skill__img {
        display: none;
    }
    .skill__info {
        width: 100%;
        height: 250px;
    }
    .categories {
        height: 1080px;
        width: 100%;
    }
    .interface {
        width: 100%;
        height: 270px;
        background: #E9714C;
    }
    .media {
        width: 100%;
        height: 270px;
        background: #E4AE58;
    }
    .app {
        width: 100%;
        height: 270px;
    }
    .coding {
        width: 100%;
        height: 270px;
    }
    .experiences__image {
        display: none;
    }
    .experiences__info {
        width: 100%;
    }
    .experiences__blocks {
        width: 90%;
    }
    .education__blocks {
        width: 90%;
    }
    .education__image {
        display: none;
    }
    .education__info {
        width: 100%;
    }
    .experiences__block-t {
        max-width: 300px;
        width: 100%;
    }
    .education__block-b {
        max-width: 300px;
        width: 100%;
    }
    .education__block-t {
        max-width: 300px;
        width: 100%;
    }
    .education__block-b {
        max-width: 300px;
        width: 100%;
    }
    .pen {
        width: 100%;
    }
    .pen__title {
        font-size: 1.2rem;
    }
    .footer__hello {
        width: 100%;
    }
    .hello__btn {
        margin-bottom: 20px;
    }
    .footer__img {
        display: none;
    }
    .footer__contact {
        width: 100%;
    }
    .mail {
        width: 68%;
    }
}